body{
    font-family: 'Roboto',sans-serif!Important;
}
h2 {
    @apply text-secondary text-3xl mt-12 mb-3;

}

h3 {
    @apply text-secondary text-2xl mt-4 mb-3;

}
p {
    @apply mb-3 text-sm
}

a {
    @apply underline text-primary-500
}
h1 {
    @apply text-4xl align-middle text-center;

}
.logo {
    @apply mb-5;
    width: 250px;
}

.head{
    @apply flex flex-col;
    align-items: center;

}

.h2{
    @apply block text-sm text-secondary mt-2
}
.h3{
    @apply block text-xs text-secondary pl-10
}

.index{
    @apply bg-tertiary mt-10 p-3 rounded
}
