@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: #28694B;
  --primary-500: #399C6B;
  --primary-200:#1F523B;
  --primary-800: #E1F6D3;
  --secondary: #FF5F2D;
  --secondary-500: #FF5A22;
  --secondary-800: #BF481F;
  --secondary-200: #FFA07A;
  --tertiary: #F3F3EDFF
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}



/*
"#FF5F2D", // Main color (orange)
"#28694B", // Main color (green)
"#FF8C5A", // Lighter orange
"#74A57F", // Lighter green
"#FFB384", // Soft orange
"#3E9271", // Softer green
"#FFDAAA", // Very light orange
"#A3D4BC", // Very light green
"#FFD6C1", // Pastel orange
"#8BB6A9", // Pastel green
*/

.index{
  @apply text-secondary text-sm p-5 bg-tertiary underline;
  page-break-before: always;
}
.index a {
  @apply block;
}
.index-H2 {
  margin-left: 20px;
  margin-top:10px;
}
.index-H3 {
  margin-left: 40px;

}

.redaction{
  @apply text-justify p-10;
}

.redaction H1 {
  @apply text-5xl text-center block mt-16 mb-24;
  
}

.redaction H2 {
  @apply text-3xl  text-secondary text-left;
  margin-top: 50px;
  margin-bottom: 20px;
  page-break-before: always;
}


.redaction H3 {
  @apply text-xl  text-secondary text-left;
  margin-top: 20px;
  margin-bottom: 10px;
}
.redaction p {
  margin-bottom: 10px;
}

.bibliography a {
  @apply text-primary underline;
}

@media print {
  .no-print {
    display: none;
  }
}