@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: #28694B;
  --secondary: #FF5F2D;
  --tertiary: #F3F3EDFF
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/*
"#FF5F2D", // Main color (orange)
"#28694B", // Main color (green)
"#FF8C5A", // Lighter orange
"#74A57F", // Lighter green
"#FFB384", // Soft orange
"#3E9271", // Softer green
"#FFDAAA", // Very light orange
"#A3D4BC", // Very light green
"#FFD6C1", // Pastel orange
"#8BB6A9", // Pastel green
*/
